* {
    margin: 0;
    padding: 0;
    font-family: Karla, sans-serif;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    background: whitesmoke;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: wheat;
    padding: 1em;
    box-shadow: 0px 3px 7px tan;
    font-size: 2rem;
    width: 100%;
}

div {
    font-size: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

div h3:hover, div h3:active {
    padding-bottom: 3rem;
    transition-duration: 0.2s;
}

div h5 {
    color: gray;
}

div h5:hover, div h5:active {
    color: black;
}

div small {
    margin-top: 5em;
    font-size: 2rem;
    color: gray;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: wheat;
    width: 100%;
    bottom: 0;
    padding: 1em;
    box-shadow: 3px 0px 7px tan;
    font-size: 2rem;
}

footer img {
    margin-left: 1em;
    vertical-align: middle;
    height: 1em;
}

footer img:hover {
    margin-bottom: 3px;
}